

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	background: #efefef;
}


.sortable-placeholder{
	background-color: red;
	height: 5px;
}

/*.section{
	background-color: orange;
	position: relative;
	top: 100px;
	left: 400px;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	padding: 10px;
}*/

.page{
	padding: 1in;
	/*padding-left: 1in;*/
	/*padding-right: 1in;*/
}

.sectionContainer{
	position: relative;
	word-wrap: break-word;
}

.focus{
	border: 3px solid red !important;
}

.localFocus{
	border: 3px dotted blue !important;
}

.section-delete{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.stylebox{
	background-color: gray;
	position: fixed;
	width: 5in;
	top: 10px;
	right: 20px;
}

/*classes for section text*/

.section-header{
	text-align: left;
	font-family: arial;
	font-size: 16pt;
}

.section-title{
	text-align: left;
	font-family: arial;
	font-size: 14pt;
}

.section-detail{
	text-align: left;
	font-family: arial;
	font-size: 12pt;
}