

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	background: #efefef;
}

.container{
	background-color: white;
	
}

.sortable-placeholder{
	background-color: red;
	height: 5px;
}

.section{
	background-color: orange;
	position: relative;
/*	top: 100px;
	left: 400px;*/
	border: 1px solid black;
	width: 200px;
	height: 100px;
	padding: 10px;
}

.focus{
	border: 5px solid red !important;
}

.local-focus{
	border: 3px dotted blue !important;
}

.stylebox{
	background-color: gray;
	position: fixed;
	width: 5in;
	top: 10px;
	right: 20px;
}