

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	background: #efefef;
}

.page{

}

.container{
	background-color: white;
	
}

.attribute-panel{
	background-color: gray;
}

.section{
	background-color: orange;
	position: relative;
	top: 100px;
	left: 400px;
	width: 240px;
	height: 100px;
}